@page "/"
@{
    Layout = null;
}
<!doctype html>
</html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <a href="/products">Products</a>
</body>
<html>
